:root {
    --font-family-main: "SF Pro Display", sans-serif;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-color-main: #161718;
    --font-color-digits: #616F82;
    --bg-color-main: #F1F2F4;
    --bg-color-white: #fff;
    --stroke-color-active: #4198C5;
    --stroke-color-default: #DADADA;
}