.panel {
    display: flex;
    width: 366px;
    height: 30px;
    padding-left: 5px;
    padding-right: 15px;
    align-items: center;
    justify-content: space-between; 

    &__count {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__actions {
        display: flex;
        gap: 15px;
    }
}